.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}
.ml-4{
  margin-left: 1rem;
}
.mt-4{
  margin-top: 1rem;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
